<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<bindingRedirects>
		<add key="skip" value="false" />
	</bindingRedirects>
	<disabledPackageSources>
		<clear />
	</disabledPackageSources>
	<packageRestore>
		<add key="automatic" value="true" />
		<add key="enabled" value="true" />
	</packageRestore>
	<packageSources>
		<clear />
		<add key="nuget.org" protocolVersion="3" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
</configuration>